
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


h1{
    color:#66BFBF;
    font-size: 565.2%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}



h2 {
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5 rem;
    font-weight: normal;

}

h3{
    color: 11999E;
    font-family: 'Montserrat', sans-serif;
    margin-left: 8px;

}



.top-container{
    background-color: #E4F9F6;
    padding-left: 20px;
    position: relative;
    padding-top: 100px;

}
.middle-container {
    margin: 30px 0;



}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;


    
}
p{
    line-height: 2;
}
a{

    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.skill-row{
    width: 50%;
    margin: 50px auto 70px auto;
    text-align: left;
   
   }
.skill-row1{
    width: 50%;
    margin: 120px auto 70px auto;
    text-align: left;

}
.Hobbies_interest{
    width: 50%;
    margin: 50px auto 70px auto;
    text-align: left;

}


.photo1{
    width: 180px;
    float: left;
    margin : 15px 50px 15px 60px;
}
.photo2{
    width: 150px;
    float: right;
    margin : auto 20px auto 50px;

}
.photo4{
    width: 180px;
    float: left;
    margin : auto 50px 50px 60px;

}
.intro{
    width: 70%;
    margin: auto;
}
hr{
    border: dotted #cde6e6 6px;
    border-bottom: none;
    width  : 5%;
    margin : 50px auto;

    
}


.top-cloud{
    position: absolute;
    right:300px;
    top:40px;

}


.bottom-cloud{
    position: absolute;
    left:250px;
    bottom:300px;

}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    width: 122px;
    font-size: 18px;
    font-weight: 200;
    padding: 23px;
    background-color: #11999E;
    -webkit-box-shadow: 1px 1px 20px 0 #11999E;
    -moz-box-shadow: 1px 1px 20px 0 #11999E;
    box-shadow: 1px 1px 20px 0 #11999E;
    text-shadow: 1px 1px 20px #000000;
    border: solid #11999E 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #11999E;
    border: solid #8BECEF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
